[user]
	email = duke7295@gmail.com
	name = Duke Nguyen
	signingkey = 493E6A1C4C65BA53
[credential]
	helper = store
[alias]
	a = add
	co = checkout
	br = branch
	st = status
	ci = commit
	i = init
	ps = push
	pl = pull
	cfg = config
	ft = fetch
	mg = merge
	cl = clone
	sh = show
	bl = blame
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
