/* :original-theme { */
:root {
    --dark: #1e1e2e;
    --light-blue: #cdd6f4;
    --red1: #FDBEB2;
    --red2: #FE8F8E;
    --red3: #FE5F6A;
    --red4: #FF3046;
    --red5: #FF0022;
    /* #FF0022, #FF3046, #FE5F6A, #FE8F8E, #FDBEB2 */
}

window {
    margin: 100px;
    /* border: 100px solid #1e1e2e; */
    /* background-color: #cdd6f4; */
    border: 100px solid var(--red5);
    background-color: var(--red1);
    border-radius: 27px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    /* color: #cdd6f4; */
    color: var(--red1);
    font-weight: bold;
    /* background-color: #1e1e2e; */
    background-color: var(--red5);
    /* background: ; */
    outline: none;
    border-radius: 20px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    /* border: 0px solid #1e1e2e; */
    border: 0px solid var(--red5);
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    /* border: 20px solid #1e1e2e; */
    /* color: #cdd6f4; */
    border: 20px solid var(--red5);
    color: var(--red1);
    font-weight: bold;
    background-color: #242446;
    /* background-color: red; */
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #6cbdff;
    border-radius: 20px;
    background-color: #1e1e2e;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: #89b4fa;
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: #cdd6f4;
    color: black;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: #89b4fa;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #89b4fa;
}
