if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias ldir='vdir'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

if type exa > /dev/null; then
  alias exa='exa --git --git-ignore'
  export EXA_COLORS="uu=1;31:da=1;35"
  alias ll='exa -l'
  alias ldir="exa -lD"
  alias lla='exa -la'
  alias la='exa -a'
  alias ls='exa'
  alias l='exa'
  alias tree2='exa -l --tree --icons --git-ignore --level=2'
  alias tree1='exa -l --tree --icons --git-ignore --level=1'
  alias tree='exa -l --tree --icons --git-ignore'
  function cd {
    builtin cd "$@" && exa
  }
else
  alias ll='ls -lh'
  alias ldir="ls -lhF --color | grep --color=never '^d'"
  alias lla='ls -Alh'
  alias la='ls -A'
  alias l='ls -C'
  function cd {
    builtin cd "$@" && ls -CA
  }
fi
alias grepr='grep -R'
alias ag='alias | grep'

# Overwrite existing commands for better defaults
alias rm='rm -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias cp='cp -r'
alias acp='rsync -rah --info=progress2'
alias df='df -h'
alias duh='du -ahd 1'
alias less='less -N -R --use-color -DC+y -Du+b -DP+g -DN+y -DE+r' # with line number
if type fdfind > /dev/null;  then
  alias fd='fdfind'
fi
function cdfd {
	clear
	builtin cd $(fd -t d "$1" ~)
	la
}
alias ip='ip -color=auto'
alias dmesg='dmesg --color=always'
alias diff='diff --color=auto'

# Navigation
alias   c='cl; cd'
alias  cL='cl; exa'
alias  ..='cd ..'
alias ...='cd ../..'
alias  .2='cd ../..'
alias  .3='cd ../../..'
alias  .4='cd ../../../..'
alias  .5='cd ../../../../..'

# CD GENERICS
alias dfs='clear && cd ~/dotfiles'
alias dfsco='dfs && coh && exit'
alias config='clear && cd ~/dotfiles/.config'
alias docs='clear && cd ~/Documents'
alias books='clear && cd ~/Documents/books'
alias app='clear && cd ~/Documents/application'
alias down='clear && cd ~/Downloads'
alias music='clear && cd ~/Music'
alias pics='clear && cd ~/Pictures'
alias imgs='clear && cd ~/Pictures'
alias vids='clear && cd ~/Videos'
alias ws='clear && cd ~/WS'
alias offcpp='clear && cd ~/WS/offlineCPP'
alias phd='clear && cd ~/Documents/phd-rbo'
alias test='clear && cd ~/WS/test'
alias phanh='clear && cd ~/Pictures/phanh'

# CD WORKSPACES
alias cv='cdfd Curriculum-Vitae-Latex'
alias thesis='cdfd thesis_report'
alias notes='cdfd learningNotes'
alias noco='cdfd learningNotes && coh && exit'
alias nol='cdfd notesLatex'
alias nolco='cdfd notesLatex && coh'
alias nn='cdfd neural-network-test'
alias nnco='nn && coh'
alias ccom='cdfd coding-competitions'
alias cf='clear; cd ~/WS/coding-competitions && coh && exit'
alias cs='clear && cd ~/WS/codingForDummies/cppFD/CS'
alias aoc='clear && cd ~/WS/Advent-of-Code/AoC-2022'
alias aocco='cdfd Advent-of-Code && coh'
alias grl='clear && cd ~/WS/test/goalRL-test'

# CD GUIDE FOR DUMMIES
alias cfd='cdfd codingForDummies && g st'
alias cfdco='cdfd codingForDummies && coh && exit'
alias bashfd='cdfd bashFD'
alias pyfd='cdfd pyFD'
alias cppfd='cdfd cppFD'
alias cmakefd='cdfd cmakeFD'
alias rosfd='cdfd rosFD'
alias ros2fd='cdfd ros2FD'

# CD WORKING
# alias something='clear && cd $HOME/something'

# System
alias mem='ncdu --show-graph --show-percent --group-directories-first --show-itemcount'
alias hist='history'
alias cl='clear' #for terminator, just Ctrl+L
alias rb='reboot'
alias sdn='shutdown now'

# .alias, .rc and .config
alias ealias='v ~/.aliases'
alias ebashrc='v ~/.bashrc'
alias ezshrc='v ~/.zshrc'
alias talias='. ~/.aliases'
alias tbashrc='. ~/.bashrc'
alias tzshrc='. ~/.zshrc'
alias econky='v ~/.config/conky/conky.conf'
alias polybar='polybar --reload duck-mainbar'

# Applications specific
alias py='python3'
alias python='python3'
alias ipy='ipython3'
alias ipython='ipython3'
alias v='vim'
alias sv='sudo -E vim'
alias co='code'
alias coh='code .'
alias run='./run.sh'
alias jn='jupyter-notebook'
alias o='xdg-open'
alias of='o .'
alias ra='ranger'
alias pdfConvert='soffice --headless --convert-to pdf' # convert a file to pdf, at least work with pptx
alias tlmgr='/usr/share/texmf-dist/scripts/texlive/tlmgr.pl --usermode'

alias rwifi='nmcli radio wifi off && nmcli radio wifi on'
# alias nwtest='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -'
alias weather='curl wttr.in Karlsruhe'
alias clock='tty-clock -sc -C 1 -f %A,%d-%b-%Y'
alias diet='cl && cat ~/Documents/diet.md'
alias usound='amixer -q -D pulse sset Master 14%+'
alias dsound='amixer -q -D pulse sset Master 14%-'
# ssound # set sound to "$1"%

# Workspaces
alias cppt='cdfd cpp-test'
alias pyt='cdfd py-test'
alias cpptco='cppt && coh'
alias ros2ws='cdfd ros2ws && cd src'

# alias somethingco='something && bldr-activate && coh'

# OSD
# alias vc='osd-vpn-connect'
# Ubuntu
alias upd='sudo apt-get update'
alias upg='sudo apt dist-upgrade'
# dist-upgrade will install & remove packages as necessary to complete upgrade, resolve dependencies
# Arch Linux
if type fzf > /dev/null; then
  alias pacs="pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S"
  alias pacu="sudo pacman -Sy && pacman -Qqu | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S"
  alias pacr="pacman -Qq | fzf --multi --preview 'pacman -Qi {1}' | xargs -ro sudo pacman -Rns"
else
  alias pacs='sudo pacman -S'
  alias pacss='pacman -Ss'
  alias pacr='sudo pacman -R'
fi
alias pacsyu='sudo pacman -Syu'
alias pacq='pacman -Q'
alias pacg='pacman -Sg'
alias auraa='sudo aura -A'
alias aurar='sudo aura -R'
alias auraas='aura -As'
alias auraau='sudo aura -Au'
alias orphans='pacman -Qtdq | sudo pacman -Rns -'
alias orphans2='pacman -Qqd | sudo pacman -Rsu -'
alias cache_show='find ~/.cache/ -type f -atime +72'
alias cache_clean='find ~/.cache/ -type f -atime +72 -delete'
# Update Packages
if type apt-get > /dev/null; then
  alias sup='upd && time upg'
elif type pacman > /dev/null; then
  alias sup='pacsyu; auraau'
fi
alias vnkey='echo "Switch with Alt+Shift+K" && ibus-daemon '
# MOUNT USB
alias usbg='echo "usbmount /dev/drive_name, drive_name from lsblk"'
alias usbmount='udisksctl mount -b' # /dev/drive_name, drive_name from lsblk
alias usbunmount='udisksctl unmount -b' # /dev/drive_name, drive_name from lsblk

# DUAL BOOT with WINDOWS
WIN=/media/${USERNAME}
WINPATH=${WIN}/Windows/Users
alias mountwin='umountw; sudo mkdir ${WIN}/Windows && sudo mount.ntfs-3g /dev/nvme0n1p3 ${WIN}/Windows/'
alias umountw='cd ${WIN} && sudo umount Windows ;sudo rmdir ${WIN}/Windows && cd' 
alias wvid='cd ${WINPATH}/Duke\ Nguyen/Videos'
alias wmusic='cd ${WINPATH}/Duke\ Nguyen/Music'
alias wpic='cd ${WINPATH}/Duke\ Nguyen/OneDrive/Pictures'
alias wdoc='cd ${WINPATH}/Duke\ Nguyen/OneDrive/Documents'
alias wdown='cd ${WINPATH}/Duke\ Nguyen/Downloads'

# Git
alias g='git'
function gap {    # git add, commit with message, push
  git add .; git commit -m "$1"; git push origin
}
function gaps {   # git add, commit with message and sign, push
  git add .; git commit -S -m "$1"; git push origin
}
alias gi='git init'
alias gcl='git clone'
alias gst='git status'
alias ga='git add'
alias gaa='git add .'
alias grst='git restore'
alias grs='git reset'
alias gci='git commit -m'
alias gcis='git commit -S -m'
alias gac='git commit -am'
alias gacs='git commit -S -am'
alias gft='git fetch'
alias gps='git push origin'
alias gpl='git pull origin'
alias gbr='git branch'
alias gba='git branch -a'
alias gdf='git diff'

# Docker
alias dp='docker pull'
alias dt='docker tag'
alias di='docker images'
alias drmi='docker rmi'
alias dcon='docker ps'
alias drm='docker rm'
alias dros='docker run -it --rm --env="DISPLAY" --env="QT_X11_NO_MITSHM=1" --volume="/tmp/.X11-unix:/tmp/.X11-unix:rw" osrf/ros:humble-desktop'

# Sync dotfiles
alias dst='dfs && git status'
alias dpl='dfs && git pull origin'
function dps {    # dotfiles push
  cd ~/dotfiles
  gaps "$1"
}

# Guide For Dummies
alias bashg='bat $(fd bashFD.bash ~)'
alias bashgg='rg $(fd bashFD.bash ~) -e'
alias gitg='bat $(fd gitFD.bash ~)'
alias gitgg='rg $(fd gitFD.bash ~) -e'
alias vimg='bat $(fd vimFD.bash ~)'
alias vimgg='rg $(fd vimFD.bash ~) -e'
alias lessg='bat $(fd lessFD.bash ~)'
alias rosg='bat $(fd rosFD.bash ~)'
alias rosgg='rg $(fd rosFD.bash ~) -e'
alias ros2g='bat $(fd ros2FD.bash ~)'
alias ros2gg='rg $(fd ros2FD.bash ~) -e'
alias pyg='bat $(fd pyFD.py ~)'
alias pygg='rg $(fd pyFD.py ~) -e'
alias dockerg='bat $(fd dockerFD.bash ~)'
alias dockergg='rg $(fd dockerFD.bash ~) -e'

# Python venv
alias act='source bin/activate'
alias deact='deactivate'

alias gtd='o ~/git/learningNotes/notes/images/workflow-diagram-gtd.png'
alias ssh-ubuntu='ssh -p 2222 duken72@localhost'

# Steam
function steamid {
	find ~/.local/share/Steam/steamapps/ -maxdepth 1 -type f -name '*.acf' -exec awk -F '"' '/"appid|name/{ printf $4 "|" } END { print "" }' {} \; | column -t -s '|' | sort -k 2 | grep -i "$1"
}
