[Desktop Entry]
Name=Hyprland
# Name=Hyprland (uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor
# Exec=uwsm start Hyprland
Exec=/usr/bin/start-hyprland
TryExec=uwsm
# Exec=Hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
